md-list
    md-list-item(ng-repeat="product in vm.item.items | orderBy: '-used'")
        div(class="box" ng-class="vm.indicator(product.used)")
        div(class="md-list-item-text")
            h3
                a(href="{{product.url}}" target="_blank") {{product.title}}
            p Preis: {{product.price}}
            p Verwendeter Preis: {{product.usedPrice}}
            p PPU: {{product.pricePerUnit}}
            //pre {{product}}
            md-divider(ng-if="!$last")
