md-card
    md-card-content
        md-content
            pre {{vm.search}}
            pre {{vm.item}}
            form(name="inputForm" ng-submit="vm.find(inputForm)" novalidate)
                div(layout="row")
                    md-input-container(flex="20")
                        label Amount
                        input(required, name="amount", ng-model="vm.search.amount", type="number", min="1")
                        div(ng-messages="inputForm.amount.$error")
                            div(ng-message="required") Du musst schon was eintragen.
                            div(ng-message="min") Die Zahl muss mindestens 1 sein.
                        //div(layout="row" layout-xs="column")
                    md-input-container(flex="45")
                        label Suche
                        input(required, autocomplete, name="name", ng-model="vm.search.object")
                        div(ng-messages="inputForm.name.$error")
                            div(ng-message="required") Du musst schon was eintragen.
                    md-input-container(flex="35")
                        label Kategorie
                        md-select(required, name="category", ng-model="vm.search.category")
                            md-option(ng-repeat="unit in vm.categories", value="{{unit.value}}") {{unit.name}}
                        div(ng-messages="inputForm.unit.$error")
                            div(ng-message="required") Du musst schon was eintragen.
                //div(layout="row")
                    include chip
                div(layout="row")
                    md-input-container
                        input(type="submit", aria-label="Submit" class="md-block md-button md-raised md-primary" value="Ich finde das mal schnell")

md-card(ng-show="vm.showResult")
    md-card
        md-card-title
            h2 {{vm.item.name}}
        md-card-content
            md-content
                p Anzahl: {{vm.search.amount}} // Preis: {{vm.item.avgPrice * vm.search.amount}} € // Durchschnitt: {{vm.item.avgPrice}} € // Kategorie: {{vm.item.category}}
    md-card-content
        md-content
            div(layout="row" layout-xs="column")
                include list

md-card()
    md-card-title
        h2 Einkaufsliste
    md-card-content
        md-content
            div(layout="row" layout-xs="column")
                include myList

md-card
    md-card-title
        h2 Searchables
    md-card-content
        md-content
            include searchable