doctype html
html
  head
      meta(charset='utf8')
      base(href='/')
      title= title
      link(rel='stylesheet', href='assets/lib/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='assets/lib/angular-material/angular-material.min.css')
      link(rel='stylesheet', href='assets/lib/jquery-ui/themes/base/jquery-ui.min.css')
      link(rel='stylesheet', href='assets/css/style.css')
    body(ng-app='listieMcListface')
    block content
