body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.red {
    opacity: 0.4;
    background-color: red;
}

.yellow {
    opacity: 0.4;
    background-color: yellow;
}

.green {
    opacity: 0.4;
    background-color: green;
}