body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.red {
    background-color: #f44336;
}

.yellow {
    background-color: #ffc107;
}

.green {
    background-color: #4caf50;
}

.box {
    opacity: 0.4;
    position: absolute;
    width: 20px;
    height: calc(100% - 10px);
    right: 5px;
    top: 5px;
}

md-list {
    width: 100%;
}

.button-right {
    position: absolute;
    right: 30px;
    bottom: 5px;
}

.small {
    font-size: 12px;
    font-weight: 700;
    color: #adadad;
    margin-left: 5px;
}